<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Access Control List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="webjars/datatables/1.10.15/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
</head>

<body>
    <script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript" src="webjars/datatables/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" class="init">
        $(document).ready( function () {
            $('table.accessControlListEntries').DataTable({
                "order": [1, 'desc'],
            });
        } );

        $(document).ready( function () {
            $('table.noPaging-noSearching').DataTable({
                "paging": false,
                "info": false,
                "searching": false,
            });
        } );

        $(document).ready( function () {
            $('table.display').DataTable();
        } );
    </script>

	<!-- Add navigation bar here -->
	<div th:insert="navBar :: navBar"></div>

    <div class="center panel panel-primary">
        <div class="panel-heading">
            <p th:inline="text">
                <b>Access Control List - </b>Number of ACEs: <b>[[${aclSize}]]</b> ([[${orphanedAcls}]] orphans ACLs)}
            </p>
        </div>

        <table class="display noPaging-noSearching">
            <thead>
            <tr>
                <th colspan="2">Node repartition</th>
            </tr>
            <tr>
                <th>ACL ID</th>
                <th>Attached nodes</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="aclidNode : ${aclNodeRepartition}">
                <td th:text="${aclidNode.aclid}"></td>
                <td th:text="${aclidNode.numNodes}"></td>
            </tr>
            </tbody>
        </table>
        <p></p>

        <div class="panel-heading">
            <b>Acl types & inheritance</b>
            </p>
        </div>

        <table class="display noPaging-noSearching">
            <thead>
            <tr>
                <td>ACL type</td>
                <td>inherited (true / false)</td>
                <td>Count</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="aclTypeRepartition : ${listAclTypeRepartition}">
                <td th:text="${aclTypeRepartition.aclType}"></td>
                <td th:text="${aclTypeRepartition.inherits}"></td>
                <td th:text="${aclTypeRepartition.occurrences}"></td>
            </tr>
            </tbody>
        </table>
        <p></p>
    </div>

    <!-- Access Control Entries -->
    <div class="center panel panel-primary">
        <div class="panel-heading">
            <p th:inline="text">
                <b>Access Control Entries - </b>Number of ACEs: [[${aceSize}]]
            </pi>
        </div>
        <div>
        <table class="display">
            <thead>
            <tr>
                <th colspan="2">Involved authorities</th>
            </tr>
            <tr>
                <th>Authority hash</th>
                <th>number of ACEs linked</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="aceAuthority: ${listACEAuthorities}">
                <td th:text="${aceAuthority.authorityHash}"></td>
                <td th:text="${aceAuthority.numAces}"></td>
            </tr>
            </tbody>
        </table>
        </div>
        <p></p>

        <div th:if="${not #lists.isEmpty(listAccessControlListEntries)}">
            <table class="display accessControlListEntries" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th colspan="2">ACEs by Permission</th>
                </tr>
                <tr>
                    <th>Permission</th>
                    <th>Count</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="accessControlListeEntry : ${listAccessControlListEntries}">
                    <td th:text="${accessControlListeEntry.permission}"></td>
                    <td th:text="${accessControlListeEntry.permissionCount}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            <table class="display">
                <thead>
                <tr>
                    <th colspan="2">ACEs per ACL</th>
                </tr>
                <tr>
                    <th>ACL ID</th>
                    <th>ACE count</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="aclHeight : ${listAclsHeight}">
                    <td th:text="${aclHeight.aclid}"></td>
                    <td th:text="${aclHeight.numAces}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


 </body>

</html>
