<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>DB Size</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="webjars/datatables/1.10.15/css/jquery.dataTables.min.css">
</head>

<body>
    <script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript" src="webjars/datatables/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" class="init">
	    $(document).ready( function () {
            $('table.display').DataTable();
        } );
    </script>

	<!-- Add navigation bar here -->
	<div th:insert="navBar :: navBar"></div>


    <!-- ACLs -->
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <h1>Access Control List</h1>

        <hr style="height:3px;border:none;color:#333;background-color:#333;" />
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Size</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${aclSize}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr style="height:3px;border:none;color:#333;background-color:#333;" />

 </body>

</html>
