<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Access Control List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="webjars/datatables/1.10.15/css/jquery.dataTables.min.css">
</head>

<body>
    <script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript" src="webjars/datatables/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" class="init">
        $(document).ready( function () {
            $('table.repartitionTable').DataTable({
                "order": [1, 'desc'],
            });
        } );

        $(document).ready( function () {
            $('table.display').DataTable();
        } );
    </script>

	<!-- Add navigation bar here -->
	<div th:insert="navBar :: navBar"></div>


    <!-- ACLs -->
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <h1>Access Control List</h1>

        <hr style="height:3px;border:none;color:#333;background-color:#333;" />
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Number of ACLs</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${aclSize}"></td>
                </tr>
                </tbody>
            </table>
	<h2>ACLs repartition</h2>
	    <table class="display repartitionTable">
		<thead>
		    <tr>
			    <th>ACL id</th>
			    <th>number of nodes</th>
		    </tr>
		</thead>
		<tbody>
                <tr th:each="nodesPerACLs: ${listNodesPerACLs}">
                    <td th:text="${nodesPerACLs.aclId}"></td>
                    <td th:text="${nodesPerACLs.numNodes}"></td>
                </tr>
		</tbody>
	    </table>
	     <h2>ACL Types</h2>
	    <table class="display repartitionTable">
		<thead>
		    <tr>
                <th>ACL types</th>
			    <th>ACL number</th>
		    </tr>
		</thead>
		<tbody>
		<tr th:each="ACLType: ${listACLTypes}">
                    <td th:text="${ACLType.aclType}"></td>
                    <td th:text="${ACLType.typeCount}"></td>
                </tr>
		</tbody>
	    </table>
	<h2>Orphaned ACLs</h2>
	    <table class="table" th:if="${not #lists.isEmpty(listOrphanedACLs)}">
		<thead>
		    <tr>
			    <th>number of ACLs not linked to a node</th>
		    </tr>
		</thead>
		<tbody>
                <tr>
                    <td th:text="${listOrphanedACLs.size()}"></td>
                </tr>
		</tbody>
	    </table>
	    <p th:if="${#lists.isEmpty(listOrphanedACLs)}">None Found</p>
        </div>
    </div>

    <hr style="height:3px;border:none;color:#333;background-color:#333;" />

    <!-- Access Control List Entries -->
    <h1>Access Control List Entries</h1>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div th:if="${not #lists.isEmpty(listAccessControlListEntries)}">
            <table class="table table-striped" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Number of Permissions</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${aceSize}"></td>
                    </tr>
                </tbody>
            </table>
            <h2>ACL Height</h2>
	        <table class="display repartitionTable">
                <thead>
                    <tr>
                        <th>ACL ID</th>
                        <th>Access Control Entries</th>
                    </tr>
                </thead>
		        <tbody>
		            <tr th:each="aclHeight : ${listAcesPerACLs}">
		                <td th:text="${aclHeight.aclId}"> </td>
		                <td th:text="${aclHeight.numAce}"> </td>
		            </tr>
		        </tbody>
	        </table>
        </div>
    </div>

    <hr>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div th:if="${not #lists.isEmpty(listAccessControlListEntries)}">
            <table class="display repartitionTable" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Permission</th>
                    <th>Count</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="accessControlListEntry : ${listAccessControlListEntries}">
                    <td th:text="${accessControlListEntry.permission}"></td>
                    <td th:text="${accessControlListEntry.permissionCount}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default panel-heading" th:if="${#lists.isEmpty(listAccessControlListEntries)}">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> </span>
        No Results Found
    </div>

    <div class="panel panel-default">
        <div th:if="${not #lists.isEmpty(listAuthoritiesAcls)}">
            <table class="display repartitionTable">
                <thead>
                <tr>
                    <th>Authoritiy</th>
                    <th>Nulber of ACLs involved in</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="authority: ${listAuthoritiesAcls}">
                    <td th:text="${authority.authorities}"></td>
                    <td th:text="${authority.numAcls}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default panel-heading" th:if="${#lists.isEmpty(listAuthoritiesAcls)}">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> </span>
        No Results Found
    </div>

    <hr style="height:3px;border:none;color:#333;background-color:#333;" />

    <!-- Access Control List Inheritance -->
    <h1>Access Control List Inheritance</h1>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div th:if="${not #lists.isEmpty(listAccessControlListInheritance)}">
            <table class="table table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Inheritance (True/False)</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="accessControlListeInheritance : ${listAccessControlListInheritance}">
                        <td th:text="${accessControlListeInheritance.inherits}"></td>
                        <td th:text="${accessControlListeInheritance.occurrences}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default panel-heading" th:if="${#lists.isEmpty(listAccessControlListInheritance)}">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> </span>
        No Results Found
    </div>
    <hr style="height:3px;border:none;color:#333;background-color:#333;" />

 </body>

</html>
