<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Archived Nodes</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="webjars/datatables/1.10.15/css/jquery.dataTables.min.css">
</head>

<body>
	<script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" language="javascript" src="webjars/datatables/1.10.15/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" class="init">
        $(document).ready( function () {
            $('table.noPaging').DataTable({
             "paging": false,
             "info": false,
            });
        } );

        $(document).ready( function () {
            $('table.noPaging-noSearching').DataTable({
             "paging": false,
             "info": false,
             "searching": false,
            });
        } );

        $(document).ready( function () {
            $('table.display').DataTable();
        } );
    </script>

    <!-- Add navigation bar here -->
	<div th:insert="navBar :: navBar"></div>
    	
	<!-- Archived Nodes -->
	<h1>Archived Nodes</h1>
	<div class="panel panel-default">
        <!-- Default panel contents -->
        <div th:if="${not #lists.isEmpty(listArchivedNodes)}">
	        <table class="table table-striped">
	            <thead>
	                <tr>
	                    <th>Total Archived Nodes</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr th:each="archivedNodes : ${listArchivedNodes}">
	                    <td th:text="${archivedNodes.nodes}"></td>
	                </tr>
	            </tbody>
	        </table>
        </div>
	</div>
	
    <div class="panel panel-default panel-heading" th:if="${#lists.isEmpty(listArchivedNodes)}">
		<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> </span>
		No Results Found
	</div>
	<!-- End of section -->
	
	<!-- Archived nodes by user -->
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Archived Nodes By User</div>
        
        <div th:if="${not #lists.isEmpty(listArchivedNodes)}">
            <table class="display" cellspacing="0" width="100%">
	            <thead>
	                <tr>
	                    <th>Archived Nodes</th>
	                    <th>By User</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr th:each="archivedNodes : ${listArchivedNodesByUser}">
	                    <td th:text="${archivedNodes.nodes}"></td>
	                    <td th:text="${archivedNodes.auditModifier}"></td>
	                </tr>
	            </tbody>
	        </table>
        </div>
	</div>
	
    <div class="panel panel-default panel-heading" th:if="${#lists.isEmpty(listArchivedNodesByUser)}">
		<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> </span>
		No Results Found
	</div>
	<!-- End of section -->

 </body>

</html>
