<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
    <title>Authorities</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
	<script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Add navigation bar here -->
	<div th:insert="navBar :: navBar"></div>
    	
	<!-- Users -->
	<h1>Users and Groups</h1>

	<hr style="height:3px;border:none;color:#333;background-color:#333;" />
	<div class="panel panel-default">
        <!-- Default panel contents -->

        <div th:if="${not #lists.isEmpty(listUsers)}">
	        <table class="table table-striped">
	            <thead>
	                <tr>
	                    <th>Users Count</th>

	                </tr>
	            </thead>
	            <tbody>
	                <tr th:each="users : ${listUsers}">
	                    <td th:text="${users.authoritiesCount}"></td>
	                </tr>
	            </tbody>
	        </table>
        </div>
	</div>

	<div class="panel panel-default panel-heading" th:if="${#lists.isEmpty(listUsers)}">
		<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> </span>
		No Results Found
	</div>
	<!-- end of section -->

	<hr style="height:3px;border:none;color:#333;background-color:#333;" />
	<!-- Authorized Users -->
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div th:if="${not #lists.isEmpty(listAuthorizedUsers)}">
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Authorized Users Count</th>

				</tr>
				</thead>
				<tbody>
				<tr th:each="authorizedUsers : ${listAuthorizedUsers}">
					<td th:text="${authorizedUsers.authoritiesCount}"></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="panel panel-default panel-heading" th:if="${#lists.isEmpty(listAuthorizedUsers)} and ${alfAuthStatus} == true">
		<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> </span>
		No Results Found
	</div>
	<!-- End of section -->

	<hr style="height:3px;border:none;color:#333;background-color:#333;" />
	<!-- Groups -->
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div th:if="${not #lists.isEmpty(listGroups)}">
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Groups Count</th>

				</tr>
				</thead>
				<tbody>
				<tr th:each="groups : ${listGroups}">
					<td th:text="${groups.authoritiesCount}"></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

    <div class="panel panel-default panel-heading" th:if="${#lists.isEmpty(listGroups)}">
		<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> </span>
		No Results Found
	</div>
	<!-- End of section -->
	<hr style="height:3px;border:none;color:#333;background-color:#333;" />
 </body>

</html>
