<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
    <script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- Add navigation bar here -->
	<div th:insert="navBar :: navBar"></div>

         
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="badge" th:text="'Database Size: ' + ${dbSize}"></span></div>
        
        <div th:if="${not #lists.isEmpty(listRelationInfos)}">
           <table class="table table-striped">
               <thead>
                   <tr>
                       <th>Table Name</th>
                       <th>Total Size</th>	                                       
                       <th>Row Stimate</th>	                                       
                       <th>Index Size</th>	                                       
                       <th>Table Size</th>	                                       
                   </tr>
               </thead>
               <tbody>
                   <tr th:each="rel : ${listRelationInfos}">
                       <td th:text="${rel.tableName}"></td>
                       <td th:text="${rel.total}"></td>	                    
                       <td th:text="${rel.rowStimate}"></td>	                    
                       <td th:text="${rel.index}"></td>	                    
                       <td th:text="${rel.table}"></td>	                    
                   </tr>
               </tbody>
           </table>
        </div>
    </div>
	
    <div class="panel panel-default panel-heading" th:if="${#lists.isEmpty(listRelationInfos)}">
		<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> </span>
		No Results Found
    </div>
 </body>

</html>
