<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="webjars/datatables/1.10.15/css/jquery.dataTables.min.css">
</head>

<body>
    <script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript" src="webjars/datatables/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" class="init">
        $(document).ready( function () {
            $('table.display').DataTable();
        } );
    </script>

	<!-- Add navigation bar here -->
	<div th:insert="navBar :: navBar"></div>


    <!-- Database Info -->
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <h1>Database Information</h1>

        <div th:if="${not #lists.isEmpty(listRelationInfos)}">
            <table class="display" cellspacing="0" width="100%">

                <thead>
                <tr>
                    <th>Table Name</th>
                    <th>Total Size</th>
                    <th>Row Estimate</th>
                    <th>Table Size</th>
                    <th>Index Size</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rel : ${listRelationInfos}">
                    <td th:text="${rel.tableName}"></td>
                    <td th:text="${rel.total}"></td>
                    <td th:text="${rel.rowEstimate}"></td>
                    <td th:text="${rel.table}"></td>
                    <td th:text="${rel.index}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Database Size</div>
        <div th:if="${not #lists.isEmpty(listRelationInfos)}">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Size</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${dbSize}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--Oracle -->
    <div th:if="${not #lists.isEmpty(OracleListRelationInfos)}">
        <div class="panel panel-default">
            <div class="panel-heading">Tables Sizing</div>
            <table class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Table Name</th>
                    <th>Size MB</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rel : ${OracleListRelationInfos}">
                    <td th:text="${rel.tableName}"></td>
                    <td th:text="${rel.sizeMB}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:if="${not #lists.isEmpty(OracleListIndexesInfos)}">
        <div class="panel panel-default">
            <div class="panel-heading">Indexes Sizing</div>
            <table class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Table Name</th>
                    <th>Index Name</th>
                    <th>Size MB</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rel : ${OracleListIndexesInfos}">
                    <td th:text="${rel.tableName}"></td>
                    <td th:text="${rel.indexName}"></td>
                    <td th:text="${rel.sizeMB}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- End of section -->

    <!--MS SQL -->
    <div th:if="${not #lists.isEmpty(MSSqlListRelationInfos)}">
        <div class="panel panel-default">
            <div class="panel-heading">Tables Sizing</div>
            <table class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Table Name</th>
                    <th>Rows Count</th>
                    <th>Total Space KB</th>
                    <th>Used Space KB</th>
                    <th>Unused Space KB</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rel : ${MSSqlListRelationInfos}">
                    <td th:text="${rel.TableName}"></td>
                    <td th:text="${rel.RowCounts}"></td>
                    <td th:text="${rel.TotalSpaceKB}"></td>
                    <td th:text="${rel.UsedSpaceKB}"></td>
                    <td th:text="${rel.UnusedSpaceKB}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:if="${not #lists.isEmpty(MSSqlListIndexesInfos)}">
        <div class="panel panel-default">
            <div class="panel-heading">Indexes Sizing</div>
            <table class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Table Name</th>
                    <th>Index Name</th>
                    <th>Index Size KB</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rel : ${MSSqlListIndexesInfos}">
                    <td th:text="${rel.TableName}"></td>
                    <td th:text="${rel.IndexName}"></td>
                    <td th:text="${rel.IndexSize}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default panel-heading" th:if="${OracleSize} != null">
        <div th:insert="oracleSize :: oracleSize"></div>
    </div>

 </body>

</html>
