<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
    <script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Add navigation bar here -->
	<div th:insert="navBar :: navBar"></div>
	         
    <div class="panel panel-default">
        <!-- Default panel contents -->
		<h1>Large Folders ( > <span th:text="${size}"></span> child nodes)</h1>

        <div th:if="${not #lists.isEmpty(listLargeFolders)}">
	        <table class="table table-striped">
	            <thead>
	                <tr>
	                    <th>Name</th>
	                    <th>Node Ref</th>	 
	                    <th>Type</th>	 
	                    <th>No. of Child Nodes</th>	                                       
	                </tr>
	            </thead>
	            <tbody>
	                <tr th:each="alf_node : ${listLargeFolders}">
	                    <td th:text="${alf_node.name}"></td>
	                    <td th:text="${alf_node.nodeRef}"></td>
	                    <td th:text="${alf_node.type}"></td>
	                    <td th:text="${alf_node.occurrences}"></td>
	                </tr>
	            </tbody>
	        </table>
        </div>
	</div>
	
    <div class="panel panel-default panel-heading" th:if="${#lists.isEmpty(listLargeFolders)}">
		<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> </span>
		No Results Found
	</div>
 </body>

</html>
