<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Large Folders</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="webjars/datatables/1.10.15/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
</head>

<body>
    <script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" language="javascript" src="webjars/datatables/1.10.15/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" class="init">
        $(document).ready( function () {
            $('table.noPaging').DataTable({
             "paging": false,
             "info": false,
             "order": [3, 'desc'],
            });
        } );

        $(document).ready( function () {
            $('table.noPaging-noSearching').DataTable({
             "paging": false,
             "info": false,
             "searching": false,
             "order": [3, 'desc'],
            });
        } );

	    $(document).ready( function () {
            $('table.display').DataTable();
        } );
    </script>

    <!-- Add navigation bar here -->
	<div th:insert="navBar :: navBar"></div>

    <div class="center panel panel-primary">
        <div class="panel-heading">
            <b>Large Folders (involving more than <span th:text="${size}"></span> nodes)</b>
        </div>

	    <div th:if="${not #lists.isEmpty(listLargeFolders)}">

			<table class="display noPaging-noSearching" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Name</th>
						<th>Node Ref</th>
						<th>Type</th>
						<th>No. of Child Nodes</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="alf_node : ${listLargeFolders}">
						<td th:text="${alf_node.nodename}"></td>
						<td th:text="${alf_node.protocol + '://' + alf_node.identifier + '/' + alf_node.uuid}"></td>
						<td th:text="${alf_node.localname}"></td>
						<td th:text="${alf_node.occurrences}"></td>
					</tr>
				</tbody>
			</table>
		</div>

        <div>
            <p></p>
            <div class="panel panel-default " th:if="${#lists.isEmpty(listLargeFolders)}">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> </span>
                No Results Found
            </div>
            <p></p>
        </div>
    </div>

 </body>

</html>
