<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Large Transactions</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="webjars/datatables/1.10.15/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
</head>

<body>
    <script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript" src="webjars/datatables/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" class="init">
        $(document).ready( function () {
            $('table.noPaging').DataTable({
             "paging": false,
             "info": false,
             "order": [1, 'desc'],
            });
        } );

        $(document).ready( function () {
            $('table.noPaging-noSearching').DataTable({
             "paging": false,
             "info": false,
             "searching": false,
             "order": [1, 'desc'],
            });
        } );

        $(document).ready( function () {
            $('table.display').DataTable();
        } );
    </script>

    <!-- Add navigation bar here -->
	<div th:insert="navBar :: navBar"></div>
         
	<div class="center panel panel-primary">
		<div class="panel-heading">
			<b>Large Transactions (involving more than <span th:text="${size}"></span> nodes)</b>
		</div>

		<div th:if="${not #lists.isEmpty(listLargeTransactions)}">
			<table class="display noPaging-noSearching" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Transaction Id</th>
						<th>Nodes Count</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="trx : ${listLargeTransactions}">
						<td th:text="${trx.trxId}"></td>
						<td th:text="${trx.nodes}"></td>
					</tr>
				</tbody>
			</table>
		</div>

        <div>
            <p></p>
            <div class="panel panel-default " th:if="${#lists.isEmpty(listLargeTransactions)}">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> </span>
			No Results Found
            </div>
            <p></p>
        </div>

    </div>
 </body>

</html>
