<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
    <title>Nodes by Type</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="webjars/datatables/1.10.15/css/jquery.dataTables.min.css">
</head>

<body>
	<script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" language="javascript" src="webjars/datatables/1.10.15/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" class="init">
        $(document).ready( function () {
            $('table.display').DataTable({
             "order": [1, 'desc'],
            });
        } );
    </script>

    <!-- Add navigation bar here -->
	<div th:insert="navBar :: navBar"></div>
	    	
	<!-- Nodes by type -->
	<div class="panel-heading"><h1>Nodes by Content Type</h1></div>

	<hr style="height:3px;border:none;color:#333;background-color:#333;" />
	<div th:if="${listNodesByType} != null">
	    <div class="panel panel-default">
	        <!-- Default panel contents -->
	        <div th:if="${not #lists.isEmpty(listNodesByType)}">
				<table class="display" cellspacing="0" width="100%">
		            <thead>
		                <tr>
		                    <th>Node Type</th>
		                    <th>Nodes Count</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr th:each="nodes : ${listNodesByType}">
		                    <td th:text="${nodes.nodeType}"></td>
		                    <td th:text="${nodes.occurrences}"></td>
		                </tr>
		            </tbody>
		        </table>
	        </div>
		</div>
		
	    <div class="panel panel-default panel-heading" th:if="${#lists.isEmpty(listNodesByType)}">
			<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> </span>
			No Results Found
		</div>
	</div>
	<!-- End of section -->
	<hr style="height:3px;border:none;color:#333;background-color:#333;" />

 </body>

</html>
