<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
    <title>Sites Activities</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
	<script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!--
	<script src="/lib/w3.js"></script>
	<div w3-include-html="static/navBar.html"></div> 
    <!-- Add navigation bar here -->
	<div th:insert="navBar :: navBar"></div>
	    	
	<!-- Nodes by mimetype -->
    <div th:if="${listNodesByMimeType} != null">
	    <div class="panel panel-default">
	        <!-- Default panel contents -->
	        <div class="panel-heading">Nodes By MimeType</div>
	        
	        <div th:if="${not #lists.isEmpty(listNodesByMimeType)}">
				<div>
			        <table class="table table-striped">
			            <thead>
			                <tr>
			                    <th>MimeType</th>
			                    <th>Nodes Count</th>
			                    <th>Disk Space (Bytes)</th>
			                </tr>
			            </thead>
			            <tbody>
			                <tr th:each="nodes : ${listNodesByMimeType}">
			                    <td th:text="${nodes.mimeType}"></td>
			                    <td th:text="${nodes.occurrencies}"></td>
			                    <td th:text="${nodes.diskSpace}"></td>
			                </tr>
			            </tbody>
			        </table>
		        </div>
	        	<div>
			        <table class="table table-striped">
			            <thead>
			                <tr>
			                    <th>Total Disk Space (Bytes)</th>
			                </tr>
			            </thead>
			            <tbody>
			                <tr th:each="nodes : ${totalDiskSpace}">
			                    <td th:text="${nodes.diskSpace}"></td>
			                </tr>
			            </tbody>
			        </table>
				</div>
	        </div>
		</div>
		
	    <div class="panel panel-default panel-heading" th:if="${#lists.isEmpty(listNodesByMimeType)}">
			<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> </span>
			No Results Found
		</div>
	</div>
	<!-- End of section -->

 </body>

</html>
