<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
    <title>Nodes by Mimetype</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="webjars/datatables/1.10.15/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
</head>

<body>
	<script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" language="javascript" src="webjars/datatables/1.10.15/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" class="init">
        $(document).ready( function () {
            $('table.nodesByMimeType').DataTable({
             "order": [2, 'desc'],
            });
        } );

        $(document).ready( function () {
            $('table.noPaging-noSearching').DataTable({
                "paging": false,
                "info": false,
                "searching": false,
            });
        } );

        $(document).ready( function () {
            $('table.display').DataTable();
        } );
    </script>

    <!-- Add navigation bar here -->
	<div th:insert="navBar :: navBar"></div>
	    	
	<!-- Nodes by mimetype -->

	<div th:if="${listNodesByMimeType} != null">
        <div class="center panel panel-primary">
            <div class="panel-heading">
                <b>Nodes Created Grouped by MimeType</b>
            </div>

	        <!-- Default panel contents -->
	        <div th:if="${not #lists.isEmpty(listNodesByMimeType)}">
                <table class="display nodesByMimeType" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>MimeType</th>
                            <th>Nodes Count</th>
                            <th>Disk Space (Bytes)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="nodes : ${listNodesByMimeType}">
                            <td th:text="${nodes.mimetype}"></td>
                            <td th:text="${#numbers.formatInteger(nodes.count,0,'POINT')}"></td>
                            <td th:text="${#numbers.formatInteger(nodes.totalContentSizeBytes,0,'POINT')}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

 </body>

</html>
