<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Spring Boot Thymeleaf Hello World Example</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="webjars/datatables/1.10.15/css/jquery.dataTables.min.css">
</head>

<body>
	<script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" language="javascript" src="webjars/datatables/1.10.15/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" class="init">
        $(document).ready( function () {
            $('table.noPaging').DataTable({
             "paging": false,
             "info": false,
            });
        } );

        $(document).ready( function () {
            $('table.noPaging-noSearching').DataTable({
             "paging": false,
             "info": false,
             "searching": false,
            });
        } );

        $(document).ready( function () {
            $('table.display').DataTable();
        } );
    </script>

    <!-- Add navigation bar here -->
	<div th:insert="navBar :: navBar"></div>
	    	
	<!-- Nodes by store -->
	<div class="panel-heading"><h1>Nodes by Store</h1></div>
	<div th:if="${listNodesByStore} != null">
	    <div class="panel panel-default">
	        <!-- Default panel contents -->
	        <div th:if="${not #lists.isEmpty(listNodesByStore)}">
                <table class="display noPaging-noSearching" cellspacing="0" width="100%">
		            <thead>
		                <tr>
		                    <th>Store</th>
		                    <th>Nodes Count</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr th:each="nodes : ${listNodesByStore}">
		                    <td th:text="${nodes.store}"></td>
		                    <td th:text="${nodes.occurrences}"></td>
		                </tr>
		            </tbody>
		        </table>
	        </div>
		</div>
		
	    <div class="panel panel-default panel-heading" th:if="${#lists.isEmpty(listNodesByStore)}">
			<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> </span>
			No Results Found
		</div>
	</div>
	<!-- End of section -->

 </body>

</html>
