<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
    <title>Sites Activities</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
	<script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Add navigation bar here -->
	<div th:insert="navBar :: navBar"></div>
	    	
	<!-- Locked Resources -->
	<h1>Locked Resources</h1>
	<div th:if="${listLockedResources} != null">
	    <div class="panel panel-default">
	        <!-- Default panel contents -->
	        <div th:if="${not #lists.isEmpty(listLockedResources)}">
		        <table class="table table-striped">
		            <thead>
		                <tr>
		                    <th>Id</th>
		                    <th>Lock Token</th>
		                    <th>Start Time</th>
		                    <th>Expiry Time</th>
		                    <th>Shared Resource</th>
		                    <th>Exclusive Resource</th>
		                    <th>URI</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr th:each="lock : ${listLockedResources}">
		                    <td th:text="${lock.id}"></td>
		                    <td th:text="${lock.lockToken}"></td>
		                    <td th:text="${lock.startTime}"></td>
		                    <td th:text="${lock.expiryTime}"></td>
		                    <td th:text="${lock.sharedResource}"></td>
		                    <td th:text="${lock.exclusiveResource}"></td>
		                    <td th:text="${lock.uri}"></td>
		                </tr>
		            </tbody>
		        </table>
	        </div>
		</div>
		
	    <div class="panel panel-default panel-heading" th:if="${#lists.isEmpty(listLockedResources)}">
			<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> </span>
			No Results Found
		</div>
	</div>
	<!-- End of section -->

 </body>

</html>
