<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
    <script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Add navigation bar here -->
	<div th:insert="navBar :: navBar"></div>
	         
    <div class="panel panel-default">
        <!-- Default panel contents -->
		<h1>Solr Memory</h1>

        <div th:if="${not #lists.isEmpty(solrMemoryList)}">
	        <table class="table table-striped">
	            <thead>
	                <tr>
	                    <th>Alfresco Nodes</th>
	                    <th>Archive Nodes</th>	 
	                    <th>Transactions</th>
						<th>ACLs</th>
						<th>ACL Transactions</th>
					</tr>
	            </thead>
	            <tbody>
	                <tr th:each="memory : ${solrMemoryList}">
	                    <td th:text="${memory.alfrescoNodes}"></td>
	                    <td th:text="${memory.archiveNodes}"></td>
	                    <td th:text="${memory.transactions}"></td>
						<td th:text="${memory.acls}"></td>
						<td th:text="${memory.aclTransactions}"></td>
	                </tr>
	            </tbody>
	        </table>
        </div>

		<div>
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Alfresco Core Data Structures (Gb)</th>
					<th>Archive Core Data Structures (Gb)</th>
					<th>Solr Data Structures Total (Gb)</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td th:text="${alfrescoCoreMemory}"></td>
					<td th:text="${archiveCoreMemory}"></td>
					<td th:text="${solrDataStructuresTotalMemory}"></td>
				</tr>
				</tbody>
			</table>
		</div>

		<div>
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Alfresco Core Caches (Gb)</th>
					<th>Archive Core Caches (Gb)</th>
					<th>Solr Caches Total (Gb)</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td th:text="${alfrescoSolrCachesMemory}"></td>
					<td th:text="${archiveSolrCachesMemory}"></td>
					<td th:text="${totalSolrCachesMemory}"></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div>
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Solr Memory Requirements for 2 searches (Gb) = 2 * Data Structures + 2 * Caches</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td th:text="${totalSolrMemory}"></td>
			</tr>
			</tbody>
		</table>
	</div>
	</div>

	<div>The information for the Solr memory calculation comes from Alfresco documentation: <a href="http://docs.alfresco.com/5.2/concepts/solrnodes-memory.html">Memory Needed For Solr Nodes</a>
        <p></p>
        Please note there may be additional memory required for the Lucene Field Cache as shown in the diagram.
    </div>
    <div class="panel panel-default panel-heading" th:if="${#lists.isEmpty(solrMemoryList)}">
		<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> </span>
		No Results Found
	</div>
 </body>

</html>
