<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Solr Memory</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
    <script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Add navigation bar here -->
	<div th:insert="navBar :: navBar"></div>
	         
    <div class="panel panel-default">
        <!-- Default panel contents -->
		<h1>Solr Memory</h1>
		<hr>
        <div th:if="${not #lists.isEmpty(solrMemoryList)}">
			<h2>Nodes and Transactions</h2>

			<table class="table table-striped">
	            <thead>
	                <tr>
	                    <th>Alfresco Nodes</th>
	                    <th>Archive Nodes</th>	 
	                    <th>Transactions</th>
						<th>ACLs</th>
						<th>ACL Transactions</th>
					</tr>
	            </thead>
	            <tbody>
	                <tr th:each="memory : ${solrMemoryList}">
	                    <td th:text="${memory.alfrescoNodes}"></td>
	                    <td th:text="${memory.archiveNodes}"></td>
	                    <td th:text="${memory.transactions}"></td>
						<td th:text="${memory.acls}"></td>
						<td th:text="${memory.aclTransactions}"></td>
	                </tr>
	            </tbody>
	        </table>
        </div>
		<hr>

		<div>
			<h2>Alfresco and Archive Cores Caches</h2>

			<table class="table table-striped">
				<thead>
				<tr>
					<th>Alfresco Solr Filter Cache Size</th>
					<th>Alfresco Solr Query Result Cache Size</th>
					<th>Alfresco Solr Authority Cache Size</th>
					<th>Alfresco Solr Patch Cache Size</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td th:text="${alfrescoSolrFilterCacheSize}"></td>
					<td th:text="${alfrescoSolrQueryResultCacheSize}"></td>
					<td th:text="${alfrescoSolrAuthorityCacheSize}"></td>
					<td th:text="${alfrescoSolrPathCacheSize}"></td>
				</tr>
				</tbody>
			</table>
		</div>

		<div>
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Archive Solr Filter Cache Size</th>
					<th>Archive Solr Query Result Cache Size</th>
					<th>Archive Solr Authority Cache Size</th>
					<th>Archive Solr Patch Cache Size</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td th:text="${archiveSolrFilterCacheSize}"></td>
					<td th:text="${archiveSolrQueryResultCacheSize}"></td>
					<td th:text="${archiveSolrAuthorityCacheSize}"></td>
					<td th:text="${archiveSolrPathCacheSize}"></td>
				</tr>
				</tbody>
			</table>
		</div>
		<hr>

		<div>
			<h2>Memory for Data Structures</h2>

			<table class="table table-striped">
				<thead>
				<tr>
					<th>Alfresco Core Data Structures (Gb)</th>
					<th>Archive Core Data Structures (Gb)</th>
					<th>Solr Data Structures Total (Gb)</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td th:text="${#numbers.formatDecimal(alfrescoCoreMemory, 1, 2)}"></td>
					<td th:text="${#numbers.formatDecimal(archiveCoreMemory, 1, 2)}"></td>
					<td th:text="${#numbers.formatDecimal(solrDataStructuresTotalMemory, 1, 2)}"></td>
				</tr>
				</tbody>
			</table>
		</div>
		<hr>

		<div>
			<h2>Memory for caches</h2>

			<table class="table table-striped">
				<thead>
				<tr>
					<th>Alfresco Core Caches (Gb)</th>
					<th>Archive Core Caches (Gb)</th>
					<th>Solr Caches Total (Gb)</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td th:text="${#numbers.formatDecimal(alfrescoSolrCachesMemory, 1, 2)}"></td>
					<td th:text="${#numbers.formatDecimal(archiveSolrCachesMemory, 1, 2)}"></td>
					<td th:text="${#numbers.formatDecimal(totalSolrCachesMemory, 1, 2)}"></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<hr>

	<div>
		<h2>Solr Memory Required for 2 Searches per Core</h2>
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Solr Memory Requirements (Gb) = 2 * Data Structures + 2 * Caches</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td th:text="${#numbers.formatDecimal(totalSolrMemory, 1, 2)}"></td>
			</tr>
			</tbody>
		</table>
	</div>
	</div>

	<div>
		The information for the Solr memory calculation comes from Alfresco documentation: <a href="http://docs.alfresco.com/5.2/concepts/solrnodes-memory.html">Memory Needed For Solr Nodes</a>
	    
	    <p></p>
		Also the Solr memory requirement can increase exponentially depending on the search/sort being performed. The memory needed rapidly adds up in the following situations:
		<ul>
		  <li>Sorting a large result set</li>
		  <li>Long running queries</li>
		  <li>Queries with many terms</li>
		  <li>Running multiple queries simultaneously</li>
		</ul>
	    
	    <p></p>
	    Please note there may be additional memory required for the Lucene Field Cache as shown in the diagram.
    </div>
    
    <div class="panel panel-default panel-heading" th:if="${#lists.isEmpty(solrMemoryList)}">
		<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> </span>
		No Results Found
	</div>
 </body>

</html>
